services:
  mongo: #use "docker exec -it mongo mongosh" to enter into mongosh
    image: mongo:latest
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/chatapp
      - FRONTEND_URL=http://${HOST_IP}:5173
    depends_on:
      - mongo

  frontend:
    build: 
      context: ./frontend
      args:
        VITE_BACKEND_URL: http://${HOST_IP}:3000
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo_data:
