/* Main layout */
.app-container {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
  margin: 4px;
}

/* Sidebar area */
.sidebar {
  width: 25%;
  border: 1px solid #ccc;
  padding: 12px;
  box-sizing: border-box;

  /* Optional rounded + soft shadow */
  /* border-radius: 4px 0 0 4px; */
  border-radius: 4px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
}

.sidebar-item {
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.sidebar-item:hover {
  background: #f0f0f0;
}

.sidebar-item.selected:hover {
  background: #ffffff;
}


.sidebar-item.selected {
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  /* background: #e3e3e3; */
  font-weight: bold;
}

/* Chat window area */
.chatwindow {
  flex: 1;
  padding: 12px;
  box-sizing: border-box;

  border-radius: 0 4px 4px 0;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.05);
}

.messages-area {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  overflow-y: auto;
  /* padding: 10px; */
}

/* message bubble */
.message-bubble {
  max-width: 65%;
  padding: 8px 12px;
  margin: 8px 0;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.timestamp {
  font-size: 0.75rem;
  color: #888;
  margin-top: 4px;
  text-align: right;
}

.incoming {
  background: #f5f5f5;
  align-self: flex-start;
}

.outgoing {
  background: #d1eaff;
  align-self: flex-end;
}


/* input-area */
.input-area {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.input-area input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.input-area button {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  background: #007aff;
  color: white;
  cursor: pointer;
}
